@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --nav-h: 80px;
    --nav-h-mobile: 60px;
    --font-mono: "Geist Mono";
    --side-padding: clamp(20px, 3vw, 35px);

    --text-m: clamp(10px, 3vw, 15px);
    --text-l: clamp(20px, 3vw, 40px);
    --text-xl: clamp(2.5rem, 5vw, 4.375rem);
}

:global(*), :global(*::before), :global(*::after) {
    box-sizing: border-box;
  }
  

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
    
  background-color: black;
  font-family: var(--font-mono);
}

.section{
  padding: var(--nav-h) var(--side-padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (max-width: 800px) {
  .section {
    padding: var(--nav-h-mobile) var(--side-padding);
  }
}

